<ng-container>
  <header class="header">
    <div class="left-wrap">
      <div routerLink="">
        <img src="assets/Logo.png">
      </div>
      <ul routerLink="">Explore</ul>
      <ul routerLink="/create">Create</ul>
      <ul *ngIf="loggedIn$ | async" routerLink="/mydecks">My Decks</ul>
      <ul routerLink="/help">Help</ul>
    </div>
    <div class="justify-content-end">
      <ul class="selected" *ngIf="!(loggedIn$ | async)" routerLink="/login">
        Log In
      </ul>
      <ul class="selected" *ngIf="(loggedIn$ | async)" routerLink=""  (click)="doLogout()">
        Log Out
      </ul>
    </div>
    
  </header>

</ng-container>

