<div class="overlay" *ngIf="isVisible">
  <div class="overlay-content">
    <h3>Delete Deck</h3>
    <p>Are you sure you want to delete this Deck?</p>

    <label for="deckTitle">Deck Name:</label>
    <p id="deckTitle">{{ deck.deckName }}</p>

    <label for="deckDesc">Description:</label>
    <p id="deckDesc">{{ deck.description }}</p>

    <button type="button" (click)="confirmRemove()">Confirm</button>
    <button type="button" (click)="closeRemoveDeleteDeckOverlay()">Cancel</button>
  </div>
</div>
