.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure overlay is on top */
}

.overlay-content {
  position:relative;
  background: #fefefe; /* Softer white background */
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
}

.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Subtle border to separate header */
}

.overlay-controls {
  display: flex;
  gap: 10px;
}

.overlay-close-button {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  top: 0px;
  right: 0px;
  background: rgba(255, 0, 0, 0); 
  border: 2px solid white; 
  border-radius: 8px; 
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  color: red; /* Red color for the 'X' */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove padding to ensure proper centering */
  line-height: 1; /* Ensures that text is vertically centered */
}


.overlay-close-button:hover {
  background: red; 
  color: white;
  border: 2px solid red;
}

.overlay-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1; /* Ensure body takes up remaining space */
}

.card-question, .card-answer {
  width: 45%;
  height: 70%; /* Increased height for taller cards */
  background: #d9edf7; /* Light blue background for cards */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for cards */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth color change on hover */
}

.card-question:hover, .card-answer:hover {
  background-color: #c4e3f3; /* Slightly darker blue on hover */
}

.overlay-controls button {
  background-color: #5bc0de; /* Calming blue for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.overlay-controls button:hover {
  background-color: #31b0d5; /* Darker blue on hover */
}

.overlay-controls button:active {
  transform: scale(0.98); /* Subtle press effect */
}
