<div class="overlay">
  <div class="overlay-content">
    <button class="overlay-close-button" (click)="close()">✕</button>
    
    <h2 class="overlay-title">{{ deck.deckName }}</h2>
    <p class="overlay-description">{{ deck.description }}</p>
    
    <div class="button-group">
      <button class="btn-toggle" (click)="toggleView()">Card/Table Toggle</button>
      <button class="btn-add" (click)="showCreateCardOverlay()">Add Card</button>
      <button class="btn-edit-deck" (click)="editDeck()">Edit Info</button>
      <button class="btn-delete-deck" (click)="deleteDeck()">Delete</button>
    </div>
    
    <table *ngIf="isTableView" class="flash-card-table">
      <thead>
        <tr>
          <th>Question</th>
          <th>Answer</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of deck.cards">
          <td>{{ card.quizText }}</td>
          <td>{{ card.answer }}</td>
          <td class="options">
            <button class="btn-edit" (click)="editCard(card)"><i class="bi bi-pencil-square"></i></button>
            <button class="btn-delete emoji" (click)="removeCard(card)"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Card View -->
    <div *ngIf="!isTableView" class="card-container">
      <div class="card" *ngFor="let card of cards">
        <p class="card-question">{{ card.quizText }}</p>
        <button 
          class="btn-show-answer" 
          [ngClass]="{'answer-visible': card.isAnswerVisible}"
          (click)="card.isAnswerVisible = !card.isAnswerVisible">
          {{ card.isAnswerVisible ? card.answer : 'Show Answer' }}
        </button>
      </div>
    </div>

  </div>
</div>
<app-create-card 
  #createCardOverlay 
  (overlayCreateCardClosed)="handleCreateOverlayClosed()"
  [uri] = "'/Deck/deck/' + deck.deckId"
  [deckId] = "deck.deckId"
  [title] = "'Add a New Card'"
  ></app-create-card>
<app-patch-deck
  #editDeckOverlay
  (editDeckoverlayClosed)="handleEditDeckoverlayClosed()"
  [deck]="deck"
  [deckName]="deck.deckName"
  [description]="deck.description"
></app-patch-deck>
<app-remove-card
  #removeCardOverlay
  (removeCardoverlayClosed)="handleRemoveCardoverlayClosed()"
  [deckId]="deck.deckId"
></app-remove-card>